.Home-section-1 {
  background-color: rgb(246, 252, 252);
}
.Home-section-2 {
  background-color: rgb(175, 252, 156);
  padding: 30px;
}
.main {
  display: grid;
  align-items: center;
  justify-content: center;
}
