.MainContent{
    border: 3px solid red;
    padding: 10px;
   

}
.GamesItemsMain{
    background-color: rgb(221, 196, 245);
    display: flex;
  
    
}
.GamesItems{
    background-color: rgb(228, 240, 164);
    height: 100px;
    width: 200px;
    padding: 10px;
    margin: 10px;
}