.MainContent{
    padding: 10px;
 
   

}
.GamesItemsMain{
    /* background-color: rgb(221, 196, 245); */
    display: flex;
   
    /* margin: 10%; */
   
   
  
    
}
.GamesItems{
    height: 100px;
    width: auto;
    padding: 5px;
    background-color: blueviolet;
    border: 5px solid yellow;
    justify-items: center;
    margin: 10px;
}
